.top_nav {
    position: relative;
    z-index: 10111;
    background: radial-gradient(500px ,rgba(0,0,0,.5) ,#1f2334);
    padding: 7px;
}
.select_Item .item_One  {
    display: flex;
    align-items: center;
}
.select_Item .item_One select {
    background-color: transparent;
    color: var(--white-color);
    font-weight: bold;
    padding: 3px;
    cursor: pointer;
    text-transform: uppercase;
}
.select_Item .item_One select option {
    color: black;
}
.select_Item .item_Two button {
    padding: 5px 15px;
    background-color: var(--thired-color);
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
}

@media (max-width: 768px) {
    .select_Item .item_Two button  {
        margin-left: 10px;
    }
}